<div class="container text-center">
    <h1 class="mb-3">Welcome!</h1>
    <p>To review your previous appointments it is required to register, or if you want you can request an appointment by clicking <a href="/form_fill">here</a></p>
    
    <div class="row justify-content-center needs-validation">
        <div class="col-md-6">
            <div class="card p-4 shadow">
                <h3 class="mb-3">Login</h3>
                <form id="form">
                    <div class="mb-3">
                        <label for="email" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="email" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" required>
                    </div>
                    <button onclick="login(event)" class="btn btn-primary w-100">Login</button>
                </form>
                <hr>
                <p>Don't have an account yet?</p>
                <button id="registerBtn" onclick="window.location.replace('/register')" class="btn btn-success w-100">Register</button>
            </div>
        </div>
    </div>
</div>
<script src="/src/views/login.js" type="module"></script>
