<div class="container text-center">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card bg-dark text-light p-4 shadow">
                <h3 class="mb-3 ">Register</h3>
                <form id="registerForm" class="needs-validation g-3" novalidate>
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" required>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="email" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" required>
                    </div>

                    <div id="informField"></div>
                    <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-info" role="progressbar" id="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <button type="submit" id="register" class="btn btn-primary w-100">Register</button>
                </form>
                <hr>
                <p><a href="/login">Login</a></p>
            </div>
        </div>
    </div>
</div>

<script src="/src/views/register.js" type="module"></script>