<div class="card text-center">
    <h3 class='card-title'>Welcome</h3>
    <div class="card-text">
        <p>This web application is primarily for busy pet clinic workers.</p>
        <div>On the page the user can request appointments for their sick pet, and after they fill out the form they can receive an appointment even urgently if needed.</div>
        <div>The assistant can query all appointments, can filter by days and able to view all appointment for the given date. 
        Users can request appointments anonymously, however basic information needed in this case also. </div>
        <div>OR</div> 
        <div>
            They can request appointments when they're logged in, and review the previous appointments,
            the diagnosis and more details about the exact treatment.
        </div>
        <div>
            If they wish to register later, they still can request all the previous appointments assigned to the email address.
        </div>
    </div>
</div>  