<!DOCTYPE html>
<html lang="en">

<head>
  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }

    .input-box {
        color: #212529; 
        background-color: #E9ECEF; 
        margin-left: 0px;
        margin-right: 0px;
        padding-block: 12px;
        border-radius: 8px;
    }

  </style>
  
 </head>

<body class="bg-secondary">
  <main>
    <div>
      <h2 class="d-flex justify-content-end">Request Appointment</h2>

        <div class="text-light bg-dark py-5 rounded" id="content">            
        </div>
    </div>
  </main>  
</body>
</html>