<div class="container text-center">
    <div class="row justify-content-center needs-validation">
        <div class="col-md-6">
            <div class="card p-4 shadow">
                <h3 class="mb-3">Password Reset</h3>
                <form id="form">

                    <div class="mb-3">
                        <label for="password1" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password1" required>
                    </div>


                    <div class="mb-3">
                        <label for="password2" class="form-label">Password again</label>
                        <input type="password" class="form-control" id="password2" required>
                    </div>

                    <div id="informField" style="height: 30px"></div>
                    <button id="resetPassword" class="btn btn-primary w-100">Save</button>
                </form>
                <hr>
            </div>
        </div>
    </div>
</div>


<script src="/src/views/password_reset/password_reset.js" type="module"></script>